@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0 auto;
}

.main-devider {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #9f4f4f;
  /* Цвет линии для остальных браузеров */
  background-color: #9f4f4f;
  /* Цвет линии для браузера Firefox и Opera */
  height: 3px;
  /* Толщина линии */
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

h1 {
  margin-bottom: 0.5em;
}

h2 {
  margin-bottom: 0.6em;
}

h3 {
  margin-bottom: 0.8em;
}

.header {
  width: 1024px;
  padding: 15px;
  margin: 0 auto;
  background-color: #e1e1e1;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__photo {
  margin: auto 0;
  width: 130px;
  height: 150px;
  border: 1px solid black;
}

.header__name {
  font-size: 64px;
  font-weight: lighter;
}

.header__position {
  font-size: 18px;
}

.content {
  width: 1054px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__aside {
  background-color: #F4F4F4;
  width: 250px;
  padding: 15px;
}

.content__main {
  padding: 15px;
  width: 750px;
}

.contacts__links {
  padding: 0;
  list-style-type: none;
}

.contacts__links__github {
  font-size: 20px;
}

.contacts__links__linkedin {
  font-size: 20px;
}

.contacts__links__headhunter {
  font-size: 20px;
}

.contacts__links__headhunter__icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  overflow: visible;
  background-image: url("../hhlogo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-item__title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #BFBFBF;
}

.project-item__link {
  width: 130px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: blue;
}

.project-item__skills {
  margin-left: auto;
  width: 500px;
}

.project-item__skills__title {
  width: 130px;
}

.project-item__description {
  margin-left: auto;
  width: 500px;
}
/*# sourceMappingURL=main.css.map */