@import "./normalize";

body {
  background-color: gray;
}

.header {
  background-color: black;
  color: white;
  width: 80%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;

  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../img/tspOpShadow.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    cursor: pointer;
    margin-right: 10%;
    width: 280px;
    height: 70px;
  }
}
.nav-menu {
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;


  &__items {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #4DABF7;
    }
  }
}
.topmenu {
  &:hover .submenu {
    transition: 0.5s;
    transform: scaleY(1);
  }
}
.submenu {
  background-color: black;
  opacity: 0.7;
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
  position: absolute;
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: 0 0;
  overflow: hidden;

  &__item {
    a {
      color: white;
    }

    a:link,a:visited,a:active {
      text-decoration: none;
    }
  }
}
.main {
  background-color: white;
  width: 80%;
  height: 1000px;
  margin: 0 auto; 
  padding-bottom: 80px;
}

.footer {
  position: fixed;
  top: calc(100vh - 80px);
  height: 80px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.footer-section {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;

  &__info {
    margin-right: 10px;
  }
}
.socials {
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;

  &__item {
    list-style-type: none; 
    margin: 0 5px;
  }

  a:hover i {
    border-bottom: 3px solid #4DABF7;
  }

  a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
  }
}
.fab {
}
.fa-vk {
}
.fa-3x {
}
.fa-youtube {
}
.fa-facebook-square {
}
.fa-instagram {
}
.fa-github {
}
