@import "./normalize";

body {
  
}

.header {
  background-color: black;
  color: white;
  width: 80%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  opacity: 1;

  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../img/tspOpShadow.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    cursor: pointer;
    margin-right: 10%;
    width: 280px;
    height: 70px;
  }
}
.nav-menu {
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;


  &__items {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      border-bottom: 3px solid #4DABF7;
    }
  }
}
.topmenu {
  &:hover .submenu {
    transition: 0.5s;
    transform: scaleY(1);
  }
}
.submenu {
  background-color: black;
  opacity: 0.7;
  margin-left: 20px;
  padding: 0;
  list-style-type: none;
  position: absolute;
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: 0 0;
  overflow: hidden;

  &__item {
    a {
      color: white;
    }

    a:link,a:visited,a:active {
      text-decoration: none;
    }
  }
}
.main {
  background-image: url(../../../source/animeBG1.jpg);
  width: 80%;
  height: 1080px;
  padding-left: 10%; 
  padding-right: 10%;
  padding-bottom: 80px;
}

.profile {
  background-color: rgb(18, 38, 75);
  opacity: 0.65;
  color: #fff;
  height: 150px;
  display: flex;
  padding: 5px 2%;
  justify-content: space-between;

		&__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 55%;
		}

		&__image {
      width: 160px;
      height: 150px;
		}

		&__name {
      width: 100%;
      font-size: 30px;
		}

		&__subtitle {
      width: 100%;
		}

		&__aside {
      width: 30%;
		}
}
.aside {

		&__title {
		}

		&__info {
		}
}
.content {
  background-color: gray;
  height: 500px;
  display: flex;
  opacity: 0.65;

		&__wrapper {
      background-color: blue;
      width: 80%;
      height: 400px;
		}

		&__aside {
      background-color: red;
      width: 20%;
      height: 400px;
		}
}
.aside-nav {

		&__button {
		}
}



.footer {
  position: fixed;
  top: calc(100vh - 80px);
  height: 80px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.footer-section {
  width: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;

  &__info {
    margin-right: 10px;
  }
}
.socials {
  padding: 0;
  width: 20%;
  display: flex;
  justify-content: space-between;

  &__item {
    list-style-type: none; 
    margin: 0 5px;
  }

  a:hover i {
    border-bottom: 3px solid #4DABF7;
  }

  a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
  }
}
.fab {
}
.fa-vk {
}
.fa-3x {
}
.fa-youtube {
}
.fa-facebook-square {
}
.fa-instagram {
}
.fa-github {
}
