body {
  background-color: black;
  color: white;
}
.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__title {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 28px;
  cursor: pointer;
}
.header__nav-menu {
  width: 70%;
  margin: auto 10px;
  margin-right: 90px;
}
.header__nav-menu__items {
  display: flex;
  list-style-type: none;
}
.header__nav-menu__item {
  display: block;
  font-size: 20px;
  margin-left: auto;
  cursor: pointer;
}

.header__nav-menu__item:hover {
  color: blue;
}

.topmenu:hover .submenu {
  transition: 0.5s;
  transform: scaleY(1);
}

.submenu {
  list-style-type: none;
  position: absolute;
  transition: 0.5s;
  transform: scaleY(0);
  transform-origin: 0 0;
}

.submenu__item {

}

.submenu__item a {
  color: white;
}

.submenu__item a:hover {
  color: blue;
}

.submenu__item a:link,a:visited,a:active {
  text-decoration: none;
}

.main {
  width: 80%;
  margin: 0 auto;
}
.about-me {
  width: 50%;
}
.about-me__text {
  margin-top: 150px;
  margin-left: 40px;
}
.footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.footer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.socials {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.socials__item_vk {
}
.socials__item_yt {
}
.socials__item_fb {
}
.socials__item_inst {
}
.footer-section__info {
  margin-right: 10px;
}
.footer-section__info__text {
}